In [1]:
import random

import pandas as pd
import numpy as np
import math
from scipy import stats as scistats

import json
import array as arr
from datetime import datetime, date

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [2]:
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')
df_stat_data = pd.read_csv('data/df_stat_data_10_25.csv')
df_fight_data = pd.read_csv('data/df_fight_data_10_25.csv',
                            parse_dates=['date'], date_parser=dateparse)

with open('data/fighter_hist.json') as json_file:
    fighter_dict = json.load(json_file)
    
with open('data/fighter_name_to_id.json') as json_file:
    name_dict = json.load(json_file)

elo b1:

    - First we calculate an elo based on winning and losing (win_loss_elo),
          very similar to chess
      
    - for each fight stat type (sig str, clinch, td, etc) we calculate
          an additional elo (ex. clinch_elo)
      
    - clinch_elo increases based on the win_loss_elo of the opponent fighter
         -being able to outland an opponent in the clinch is rewarded 
          based on the opponent's general win_loss_record.

Results: same as older methods

elo c1:
- we include regular win loss elo from older methods
- sig str = head + body + leg = distance + clinch + ground
- keep track of sig str elo
- for each fight
    - calculate league head-body-leg ratio, distance-clinch-ground ratio
        - avg and stdev
    - if someone lands more sig strikes:
        - update their sig str elo
        - update head, body, leg, distance, clinch, ground elos based on standardization with league avg
    - if someone lands less sig strikes:
        - update their sig str elo
        - update head, body, leg, distance, clinch, ground elos based on standardization with league avg

elo e1
- calculate sig str elo normally
- additionally keep track of mean, sd percent distributions of head/body/leg, distance/clinch/ground
- calculate standardized fighter distributions based on mean, sd

In [3]:
example_df = pd.DataFrame( \
              {'elo_version': ['a1', 'a1', 'a2', 'b1', 'b1', 'b1'],
               'fighter_id': ['324', '21', '154', '3213', '43', '1213'],
               'previous_card_date': ['2021-10-08', '2021-09-08', '2021-08-08',
                                 '2021-08-08', '2021-08-08', '2021-07-08'],
               'previous_fight_id': ['664', '654', '633', '633', '633', '632'],
               'elo_type': ['win_loss', 'win_loss', 'win_loss', 'sig_str', 'sig_str', 'distance'],
               'elo_value': [100, 150, 150, 400, 430, 445] ,
               'opp_prev_value': [20, 20, 20 , 20, 20, 20], 
               
               })

example_df

,elo_version,fighter_id,previous_card_date,previous_fight_id,elo_type,elo_value,opp_prev_value
0,a1,324,2021-10-08,664,win_loss,100,20
1,a1,21,2021-09-08,654,win_loss,150,20
2,a2,154,2021-08-08,633,win_loss,150,20
3,b1,3213,2021-08-08,633,sig_str,400,20
4,b1,43,2021-08-08,633,sig_str,430,20
5,b1,1213,2021-07-08,632,distance,445,20

In [4]:
df_stat_data[(df_stat_data.Stat == 'sig str') &
             (df_stat_data.Round == 0)].head()

     Fighter  Landed  Out Of  Round  Seconds     Stat  fight_id
80         0      41      80      0      628  sig str      5291
81         1      43      65      0      628  sig str      5291
132        0       4       7      0      154  sig str      5290
133        1      13      16      0      154  sig str      5290
184        0       1       2      0       44  sig str      5289

In [5]:
example_df.sort_values(by='previous_card_date', ascending=True)

,elo_version,fighter_id,previous_card_date,previous_fight_id,elo_type,elo_value,opp_prev_value
5,b1,1213,2021-07-08,632,distance,445,20
2,a2,154,2021-08-08,633,win_loss,150,20
3,b1,3213,2021-08-08,633,sig_str,400,20
4,b1,43,2021-08-08,633,sig_str,430,20
1,a1,21,2021-09-08,654,win_loss,150,20
0,a1,324,2021-10-08,664,win_loss,100,20

In [6]:
df_stat_data.head()

   Fighter  Landed  Out Of  Round  Seconds       Stat  fight_id
0        0       0      -1      1      300         kd      5291
1        1       0      -1      1      300         kd      5291
2        0      15      29      1      300    sig str      5291
3        1      13      18      1      300    sig str      5291
4        0      15      29      1      300  total str      5291

In [7]:
def gen_new_mean_sd(entry, new_val):
    mean = entry['mean']
    cnt = entry['cnt']
    sd = entry['sd']

    if (cnt == 0):
        new_mean = new_val
        new_sd = 0

    else:
        new_mean = (mean * cnt + new_val) / (cnt + 1)

        new_sd_numer = ((cnt) * (sd ** 2)) + \
            ((new_val - mean) * (new_val - new_mean))
        
        new_sd = math.sqrt(new_sd_numer / (cnt + 1))
    

    return {'mean': new_mean, 'sd': new_sd, 'cnt': cnt + 1}

In [105]:
np.array([3]).std()
np.array([3, 5]).std()

(((2) * (0 ** 1)) + \
            ((5 - 3) * (5 - 4))) / 2

1.0

In [8]:
def gen_fighter_elo_increments(fighter_0_elo, fighter_1_elo, winner, divby=400, k_val=40):
    
    prob_fighter_0 = 1.0 / (1 + 1.0 * math.pow(10, 1.0 *
                                               (fighter_1_elo - fighter_0_elo) /
                                               divby))
    prob_fighter_1 = 1 - prob_fighter_0
    
    if winner == 0:
        return k_val * (1 - prob_fighter_0), \
               k_val * (0 - prob_fighter_1) 
    
    return k_val * (0 - prob_fighter_0), \
           k_val * (1 - prob_fighter_1)

In [9]:
def melt_fight_data(df_fight_data):
    df_fight_data = df_fight_data.copy()
    df_fight_data = df_fight_data[['fighter_0', 'fighter_1', 'winner', 'date', 'fight_id']]
    returned = pd.melt(df_fight_data, id_vars=['winner', 'date', 'fight_id'])
    returned.rename(columns={'variable': 'fighter', 'value': 'fighter_id'},
        inplace=True)
    returned['fighter'] = returned['fighter']\
        .apply(lambda x: 0 if x == 'fighter_0' else 1)

    to_merge = df_fight_data[['fight_id', 'fighter_0', 'fighter_1']]
    returned = returned.merge(to_merge, on='fight_id')
    returned['opponent_id'] = returned\
        .apply(lambda x: x['fighter_1'] if x['fighter'] == 0 else x['fighter_0'],
            axis=1)

    return returned.drop(columns=['fighter_0', 'fighter_1'])
melt_fight_data(df_fight_data)\
    .sort_values(by=['fight_id', 'fighter'], ascending=True).head()

   winner       date  fight_id  fighter  fighter_id  opponent_id
0       0 1998-10-16         0        0        1899         1900
1       0 1998-10-16         0        1        1900         1899
2       0 1998-10-16         1        0        1898         1601
3       0 1998-10-16         1        1        1601         1898
4       0 1998-10-16         2        0        1813         1819

In [10]:
df_stat_data.head()

   Fighter  Landed  Out Of  Round  Seconds       Stat  fight_id
0        0       0      -1      1      300         kd      5291
1        1       0      -1      1      300         kd      5291
2        0      15      29      1      300    sig str      5291
3        1      13      18      1      300    sig str      5291
4        0      15      29      1      300  total str      5291

In [ ]:
def gen_elo_e1(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40):

    df_fights = melt_fight_data(df_fight_data)\
        .sort_values(by=['fight_id', 'fighter'], ascending=True)

    list_returned = []
    set_fighters_observed = set()
    ranges = ('distance', 'clinch', 'ground')
    locations = ('head', 'body', 'leg')
    stat_types = ('sig str',) + ranges + locations

    stat_type_mean_sd_counts = {s: 
        {'mean': -1, 'sd': -1, 'cnt': 0} for s in locations + ranges}

    # Filter to remove round-by-round stat data
    df_stats = df_stat_data[(df_stat_data.Round == 0) &
            df_stat_data.Stat.isin(stat_types)]\
        [['Fighter', 'Landed', 'Stat', 'Seconds', 'fight_id']] \
        .rename(columns={'Fighter': 'fighter'})\
        .set_index('fight_id')

    current_elo_values = {fighter_id: {'sig str': 0, 'win_loss': 0}
         for fighter_id in fighter_dict.keys()}

    current_strike_dstrbs = {fighter_id: {k: 0 for k in stat_types}
        for fighter_id in fighter_dict.keys()}
    

    # handle issue of figher_elo update affecting the calculation of opponent's elo
    temp_elo_store = {}

    #iterate through fight_ids
    for fight_entry in df_fights.to_dict('records'):
        
        fight_stats = df_stats.loc[fight_entry['fight_id']]

        # get fighter ids
        fighter_id = str(fight_entry['fighter_id'])
        opp_id = str(fight_entry['opponent_id'])

        # determine dictionaries to be appended to returned

        to_append = {'fighter_id': fighter_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter' : fight_entry['fighter'],
             'winner': fight_entry['winner']}

        to_append.update({stat_type: current_elo_values[fighter_id][stat_type]
            for stat_type in ('sig str', 'win_loss')})

        # for each range and location striking stat, add a column
        # containing percentage of total sig strikes
        to_append.update({
            
            # divide strikes landed of current stat type by sig str
            stat_type: current_strike_dstrbs[fighter_id][stat_type] /
                    current_strike_dstrbs[fighter_id]['sig str'] 

                # if denom is 0, assign to 1/3
                if current_strike_dstrbs[fighter_id]['sig str'] != 0 else 1/3

            # iterate through ranges and locations
            for stat_type in ranges + locations
        })

        list_returned.append(to_append)

        # Now we focus on updating elo values appropriately

        fighter_wl_elo = current_elo_values[fighter_id]['win_loss']
        opp_wl_elo = current_elo_values[opp_id]['win_loss']

        fighter_ss_elo = current_elo_values[fighter_id]['sig str']
        opp_ss_elo = current_elo_values[opp_id]['sig str']

        fighter_observed = fighter_id in set_fighters_observed
        opp_observed = opp_id in set_fighters_observed
        
        if fight_entry['fighter'] == 1:
            set_fighters_observed.add(fighter_id)
            set_fighters_observed.add(opp_id)

        obs_info = 'normal'
        
        if (not fighter_observed) and opp_observed:
            fighter_wl_elo = opp_wl_elo
            fighter_ss_elo = opp_ss_elo
            obs_info = 'fighter_new'

        if fighter_observed and (not opp_observed):
            opp_wl_elo = fighter_wl_elo
            opp_ss_elo = fighter_ss_elo
            obs_info = 'fighter_new'
            
        if (not fighter_observed) and (not opp_observed):
            fighter_wl_elo = 100
            fighter_ss_elo = 100
            obs_info = 'both_new'

        
        fighter_wl_inc, _ = \
            gen_fighter_elo_increments(fighter_wl_elo, opp_wl_elo,
                 int(fight_entry['winner'] != fight_entry['fighter']))
        
        fighter_ss_inc, _ = \
            gen_fighter_elo_increments(fighter_ss_elo, opp_ss_elo,
                 int(fight_entry['winner'] != fight_entry['fighter']))
        
        new_fighter_wl_elo = fighter_wl_elo + fighter_wl_inc
        new_fighter_ss_elo = fighter_ss_elo + fighter_ss_inc

        for stat_type in stat_types:
            num_landed = fight_stats[fight_stats.Stat == stat_type]['Landed']\
                .list()[0]
            current_strike_dstrbs['fighter_id'][stat_type] = \
                current_strike_dstrbs['fighter_id'][stat_type] + num_landed

In [8]:
def gen_elo_c2(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40):
    
    df_fights = melt_fight_data(df_fight_data)\
        .sort_values(by=['fight_id', 'fighter'], ascending=True)


    list_win_loss = []
    set_fighters_observed = set()

    ranges = ('distance', 'clinch', 'ground')
    locations = ('head', 'body', 'leg')
    stat_types = ('sig str',) + ranges + locations

    range_vals = {r: {'mean': -1, 'sd': -1, 'cnt': 0} for r in ranges}
    loc_vals = {l: {'mean': -1, 'sd': -1, 'cnt': 0} for l in locations}
    
    # Filter to remove round-by-round stat data
    df_stats = df_stat_data[(df_stat_data.Round == 0) &
            df_stat_data.Stat.isin(stat_types)]\
        [['Fighter', 'Landed', 'Stat', 'Seconds', 'fight_id']] \
        .rename(columns={'Fighter': 'fighter'})\
        .set_index('fight_id')
    
    current_elo_values = {f_id: 
                             {elo_type: 0 
                                for elo_type in stat_types + ('win_loss',)}
                                    for f_id in fighter_dict.keys()}

    set_fighters_observed = set()

    # handle issue of figher_elo update affecting the calculation of opponent's elo
    temp_elo_store = {}

    #iterate through fight_ids
    for fight_entry in df_fights.to_dict('records'):
        
        fight_stats = df_stats.loc[fight_entry['fight_id']]

        # get fighter ids
        fighter_id = str(fight_entry['fighter_id'])
        opp_id = str(fight_entry['opponent_id'])

        # determine dictionaries to be appended to returned

        to_append = {'fighter_id': fighter_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter' : fight_entry['fighter'],
             'winner': fight_entry['winner']}

        to_append.update({stat_type: current_elo_values[fighter_id][stat_type]
            for stat_type in stat_types + ('win_loss',)})

        # append to returned
        list_win_loss.append(to_append)
        
        # Now we focus on updating elo values appropriately

        fighter_wl_elo = current_elo_values[fighter_id]['win_loss']
        opp_wl_elo = current_elo_values[opp_id]['win_loss']

        fighter_ss_elo = current_elo_values[fighter_id]['sig str']
        opp_ss_elo = current_elo_values[opp_id]['sig str']

        fighter_wl_inc, _ = \
            gen_fighter_elo_increments(fighter_wl_elo, opp_wl_elo,
                 int(fight_entry['winner'] != fight_entry['fighter']))
        
        fighter_ss_inc, _ = \
            gen_fighter_elo_increments(fighter_ss_elo, opp_ss_elo,
                 int(fight_entry['winner'] != fight_entry['fighter']))
                  
        # take the increment from sig str elos, and divide it based on r_data
        #  get the stat values from df_stats

        fighter_observed = fighter_id in set_fighters_observed
        opp_observed = opp_id in set_fighters_observed
        
        if fight_entry['fighter'] == 1:
            set_fighters_observed.add(fighter_id)
            set_fighters_observed.add(opp_id)

        obs_info = 'normal'
        
        if (not fighter_observed) and opp_observed:
            fighter_wl_elo = opp_wl_elo
            fighter_ss_elo = opp_ss_elo
            obs_info = 'current_new'
            
        if (not fighter_observed) and (not opp_observed):
            fighter_wl_elo = 0
            fighter_ss_elo = 0
            obs_info = 'both_new'

        def get_stat_landed(stat_name):
            return list(fight_stats[(fight_stats.fighter ==  0) &
            (fight_stats.Stat == stat_name)]['Landed'])[0]

        stat_elo_update = {'win_loss': fighter_wl_elo + fighter_wl_inc,
                'sig str': fighter_ss_elo + fighter_ss_inc}

        for piece_stats, piece_vals in ((ranges, range_vals), (locations, loc_vals)):

            range_landed = {r: get_stat_landed(r) for r in piece_stats}
            sum_landed = sum(list(range_landed.values()))
            range_landed_perc = {r: val/(sum_landed if sum_landed != 0 else 1)
                 for r, val in range_landed.items()}
            range_standardized = {}
            

            for stat_name, perc_landed in range_landed_perc.items():
                new_stat_entry = gen_new_mean_sd(piece_vals[stat_name], perc_landed)
                piece_vals[stat_name] = new_stat_entry
                range_standardized[stat_name] = (perc_landed - new_stat_entry['mean']) / \
                    (new_stat_entry['sd'] if new_stat_entry['sd'] != 0 else 1)

            range_standardized = {k: scistats.norm.cdf(v) * 2 / 3
                for k, v in range_standardized.items()}

            for stat_name, inc_perc in range_standardized.items():

                initial_elo = current_elo_values[fighter_id][stat_name] if obs_info == 'normal' \
                    else current_elo_values[opp_id]['sig str'] / 3 if obs_info == 'current_new' \
                        else 0

                stat_elo_update[stat_name] = initial_elo + \
                    (fighter_ss_inc * inc_perc if fight_entry['winner'] == fight_entry['fighter']
                        else fighter_ss_inc * (2/3 - inc_perc))

        if fight_entry['fighter'] == 0:
            temp_elo_store.update(stat_elo_update)
        else:
            current_elo_values[opp_id] = temp_elo_store.copy()
            temp_elo_store.clear()
            current_elo_values[fighter_id] = stat_elo_update.copy()
    
    df_returned = pd.DataFrame.from_records(list_win_loss)
    return df_returned

        
df_c2 = gen_elo_c2(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40)

In [10]:
df_c2

,body,card_date,clinch,distance,fight_id,fighter,fighter_id,ground,head,leg,sig str,win_loss,winner
0,0.000000,1998-10-16,0.000000,0.000000,0,0,1899,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,0.000000,1998-10-16,0.000000,0.000000,0,1,1900,0.000000,0.000000,0.000000,0.000000,0.000000,0
2,0.000000,1998-10-16,0.000000,0.000000,1,0,1898,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,0.000000,1998-10-16,0.000000,0.000000,1,1,1601,0.000000,0.000000,0.000000,0.000000,0.000000,0
4,0.000000,1998-10-16,0.000000,0.000000,2,0,1813,0.000000,0.000000,0.000000,0.000000,0.000000,0
5,0.000000,1998-10-16,0.000000,0.000000,2,1,1819,0.000000,0.000000,0.000000,0.000000,0.000000,0
6,0.000000,1998-10-16,0.000000,0.000000,3,0,1818,0.000000,0.000000,0.000000,0.000000,0.000000,0
7,0.000000,1998-10-16,0.000000,0.000000,3,1,1893,0.000000,0.000000,0.000000,0.000000,0.000000,0
8,0.000000,1998-10-16,0.000000,0.000000,4,0,1785,0.000000,0.000000,0.000000,0.000000,0.000000,0
9,0.000000,1998-10-16,0.000000,0.000000,4,1,1784,0.000000,0.000000,0.000000,0.000000,0.000000,0
10,0.000000,1998-10-16,0.000000,0.000000,5,0,734,0.000000,0.000000,0.000000,0.000000,0.000000,0
11,0.000000,1998-10-16,0.000000,0.000000,5,1,1306,0.000000,0.000000,0.000000,0.000000,0.000000,0
12,0.000000,1998-10-16,0.000000,0.000000,6,0,1870,0.000000,0.000000,0.000000,0.000000,0.000000,0
13,0.000000,1998-10-16,0.000000,0.000000,6,1,1897,0.000000,0.000000,0.000000,0.000000,0.000000,0
14,0.000000,1999-01-08,0.000000,0.000000,7,0,1844,0.000000,0.000000,0.000000,0.000000,0.000000,0
15,0.000000,1999-01-08,0.000000,0.000000,7,1,1896,0.000000,0.000000,0.000000,0.000000,0.000000,0
16,0.000000,1999-01-08,0.000000,0.000000,8,0,1634,0.000000,0.000000,0.000000,0.000000,0.000000,0
17,0.000000,1999-01-08,0.000000,0.000000,8,1,1895,0.000000,0.000000,0.000000,0.000000,0.000000,0
18,-0.746878,1999-01-08,-1.257832,-10.441586,9,0,1893,-11.763288,-12.533230,-1.673931,-20.000000,-20.000000,0
19,0.000000,1999-01-08,0.000000,0.000000,9,1,1894,0.000000,0.000000,0.000000,0.000000,0.000000,0
20,0.000000,1999-01-08,0.000000,0.000000,10,0,1373,0.000000,0.000000,0.000000,0.000000,0.000000,0
21,0.000000,1999-01-08,0.000000,0.000000,10,1,1892,0.000000,0.000000,0.000000,0.000000,0.000000,0
22,2.075615,1999-01-08,4.174062,11.692749,11,0,1785,3.775845,6.157177,13.257311,20.000000,20.000000,0
23,0.000000,1999-01-08,0.000000,0.000000,11,1,1539,0.000000,0.000000,0.000000,0.000000,0.000000,0
24,13.109325,1999-01-08,12.630734,2.540072,12,0,1818,1.039687,0.266431,12.178145,20.000000,20.000000,0
25,0.000000,1999-01-08,0.000000,0.000000,12,1,1891,0.000000,0.000000,0.000000,0.000000,0.000000,0
26,0.000000,1999-01-08,0.000000,0.000000,13,0,1882,0.000000,0.000000,0.000000,0.000000,0.000000,0
27,12.903868,1999-01-08,2.462002,12.964733,13,1,1813,2.658318,0.743475,10.089358,20.000000,20.000000,0
28,0.000000,1999-03-05,0.000000,0.000000,14,0,1889,0.000000,0.000000,0.000000,0.000000,0.000000,0
29,0.000000,1999-03-05,0.000000,0.000000,14,1,1890,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10554,34.643134,2020-03-07,46.632924,61.017059,5277,0,28,24.477903,55.894199,42.963110,141.023467,141.023467,0
10555,-3.524006,2020-03-07,5.700551,56.570727,5277,1,29,26.748261,55.953766,39.093985,102.841128,102.841128,0
10556,81.894448,2020-03-07,63.975777,57.044741,5278,0,26,13.595839,1.215454,57.745304,136.140545,136.140545,0
10557,54.969726,2020-03-07,37.386509,47.868518,5278,1,27,8.897190,3.000171,48.922149,91.534575,91.534575,0
10558,39.131357,2020-03-07,33.327460,43.504992,5279,0,24,31.726619,34.103612,40.603118,111.535029,111.535029,0
10559,51.497880,2020-03-07,43.608400,70.917958,5279,1,25,-7.804076,10.932661,60.746586,108.452663,108.452663,0
10560,68.522708,2020-03-07,77.409770,99.765782,5280,0,22,56.257201,74.786504,101.521504,243.894000,243.894000,0
10561,76.047228,2020-03-07,17.298957,94.907731,5280,1,23,3.605953,-0.027671,77.961982,130.158692,130.158692,0
10562,-3.886570,2020-03-14,-12.479028,-11.352344,5281,0,20,-11.050171,-14.690120,-22.253534,-34.628778,-34.628778,1
10563,8.962318,2020-03-14,2.640132,11.584335,5281,1,21,3.590674,6.679575,4.983776,20.000000,20.000000,1
10564,-8.971227,2020-03-14,-6.263233,-8.037623,5282,0,18,-4.021829,-3.458324,-7.195574,-18.783777,-18.783777,1
10565,0.000000,2020-03-14,0.000000,0.000000,5282,1,19,0.000000,0.000000,0.000000,0.000000,0.000000,1
10566,20.021112,2020-03-14,15.871460,17.767219,5283,0,16,25.867080,24.524917,15.615451,61.077087,61.077087,1
10567,22.545789,2020-03-14,-7.744736,34.717746,5283,1,17,-6.537876,-2.109700,13.115887,29.464080,29.464080,1
10568,29.440004,2020-03-14,40.330114,40.311427,5284,0,14,24.058833,45.483680,27.842666,103.111891,103.111891,0
10569,35.059466,2020-03-14,27.287654,51.791139,5284,1,15,29.320541,39.419347,39.808889,113.657358,113.657358,0
10570,24.488114,2020-03-14,19.797432,22.905943,5285,0,12,15.410902,20.945160,12.406338,58.515286,58.515286,0
10571,-26.134451,2020-03-14,5.223456,10.616430,5285,1,13,-8.847880,33.290223,-18.430521,3.547193,3.547193,0
10572,29.751751,2020-03-14,15.282496,65.295732,5286,0,10,22.986051,48.658877,30.411890,113.439716,113.439716,1
10573,25.104362,2020-03-14,21.793917,51.446030,5286,1,11,29.193887,46.444797,35.693327,111.959484,111.959484,1
10574,103.968839,2020-03-14,46.909838,83.463051,5287,0,8,9.914775,13.058278,45.011119,146.077410,146.077410,0
10575,53.142690,2020-03-14,-21.006840,90.907789,5287,1,9,-26.032334,-16.502259,54.322404,85.584163,85.584163,0
10576,3.503091,2020-03-14,27.952339,17.755153,5288,0,6,20.199983,28.658694,27.922983,69.221946,69.221946,1
10577,17.413743,2020-03-14,20.818435,10.785194,5288,1,7,12.423397,18.442498,1.927177,48.586886,48.586886,1
10578,7.078073,2020-03-14,-6.573312,45.689684,5289,0,4,-11.462968,-7.120360,39.780837,54.380115,54.380115,0
10579,6.170654,2020-03-14,10.458540,21.110212,5289,1,5,24.710173,40.395724,6.720957,60.597899,60.597899,0
10580,28.684457,2020-03-14,8.841555,65.333693,5290,0,2,89.635219,133.496434,7.223257,209.176182,209.176182,1
10581,52.063704,2020-03-14,25.205090,75.200588,5290,1,3,22.562887,29.872133,59.108178,131.413856,131.413856,1
10582,63.831635,2020-03-14,26.415451,85.555400,5291,0,0,25.369753,59.864314,21.755998,145.460972,145.460972,1
10583,71.950565,2020-03-14,20.810402,96.326994,5291,1,1,32.816527,30.429100,66.847371,184.522068,184.522068,1

In [149]:
def gen_elo_d1(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40):
    
    df_fights = melt_fight_data(df_fight_data)\
        .sort_values(by=['fight_id', 'fighter'], ascending=True)


    list_win_loss = []
    set_fighters_observed = set()
    
    
    # Filter to remove round-by-round stat data
    df_stats = df_stat_data[(df_stat_data.Round == 0) &
            df_stat_data.Stat.isin(stat_types)]\
        [['Fighter', 'Landed', 'Stat', 'Seconds', 'fight_id']] \
        .rename(columns={'Fighter': 'fighter'})\
        .set_index('fight_id')

    stat_vals = {s: {'mean': -1, 'sd': -1, 'cnt': 0} for s in stat_types}
    
    current_elo_values = {f_id: 
                             {elo_type: 0 
                                for elo_type in stat_types + ('win_loss',)}
                                    for f_id in fighter_dict.keys()}

    set_fighters_observed = set()

    # handle issue of figher_elo update affecting the calculation of opponent's elo
    temp_elo_store = {}

    #iterate through fight_ids
    for fight_entry in df_fights.to_dict('records'):
        
        fight_stats = df_stats.loc[fight_entry['fight_id']]

        # get fighter ids
        fighter_id = str(fight_entry['fighter_id'])
        opp_id = str(fight_entry['opponent_id'])

        # determine dictionaries to be appended to returned

        to_append = {'fighter_id': fighter_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter' : fight_entry['fighter'],
             'winner': fight_entry['winner']}

        to_append.update({stat_type: current_elo_values[fighter_id][stat_type]
            for stat_type in stat_types + ('win_loss',)})

        # append to returned
        list_win_loss.append(to_append)
        
        # Now we focus on updating elo values appropriately

        fighter_wl_elo = current_elo_values[fighter_id]['win_loss']
        opp_wl_elo = current_elo_values[opp_id]['win_loss']

        fighter_ss_elo = current_elo_values[fighter_id]['sig str']
        opp_ss_elo = current_elo_values[opp_id]['sig str']

        fighter_wl_inc, _ = \
            gen_fighter_elo_increments(fighter_wl_elo, opp_wl_elo,
                 int(fight_entry['winner'] != fight_entry['fighter']))
        
        fighter_ss_inc, _ = \
            gen_fighter_elo_increments(fighter_ss_elo, opp_ss_elo,
                 int(fight_entry['winner'] != fight_entry['fighter']))
                  
        # take the increment from sig str elos, and divide it based on r_data
        #  get the stat values from df_stats

        fighter_observed = fighter_id in set_fighters_observed
        opp_observed = opp_id in set_fighters_observed
        
        if fight_entry['fighter'] == 1:
            set_fighters_observed.add(fighter_id)
            set_fighters_observed.add(opp_id)

        obs_info = 'normal'
        
        if (not fighter_observed) and opp_observed:
            fighter_wl_elo = opp_wl_elo
            fighter_ss_elo = opp_ss_elo
            obs_info = 'current_new'
            
        if (not fighter_observed) and (not opp_observed):
            fighter_wl_elo = 0
            fighter_ss_elo = 0
            obs_info = 'both_new'

        def get_stat_landed(stat_name):
            return list(fight_stats[(fight_stats.fighter ==  0) &
            (fight_stats.Stat == stat_name)]['Landed'])[0]

        stat_elo_update = {'win_loss': fighter_wl_elo + fighter_wl_inc,
                'sig str': fighter_ss_elo + fighter_ss_inc}

        for piece_stats, piece_vals in ((ranges, range_vals), (locations, loc_vals)):

            range_landed = {r: get_stat_landed(r) for r in piece_stats}
            sum_landed = sum(list(range_landed.values()))
            range_landed_perc = {r: val/(sum_landed if sum_landed != 0 else 1)
                 for r, val in range_landed.items()}
            range_standardized = {}
            

            for stat_name, perc_landed in range_landed_perc.items():
                new_stat_entry = gen_new_mean_sd(piece_vals[stat_name], perc_landed)
                piece_vals[stat_name] = new_stat_entry
                range_standardized[stat_name] = (perc_landed - new_stat_entry['mean']) / \
                    (new_stat_entry['sd'] if new_stat_entry['sd'] != 0 else 1)

            range_standardized = {k: scistats.norm.cdf(v) * 2 / 3
                for k, v in range_standardized.items()}

            for stat_name, inc_perc in range_standardized.items():

                initial_elo = current_elo_values[fighter_id][stat_name] if obs_info == 'normal' \
                    else current_elo_values[opp_id]['sig str'] / 3 if obs_info == 'current_new' \
                        else 0

                stat_elo_update[stat_name] = initial_elo + \
                    (fighter_ss_inc * inc_perc if fight_entry['winner'] == fight_entry['fighter']
                        else fighter_ss_inc * (2/3 - inc_perc))

        if fight_entry['fighter'] == 0:
            temp_elo_store.update(stat_elo_update)
        else:
            current_elo_values[opp_id] = temp_elo_store.copy()
            temp_elo_store.clear()
            current_elo_values[fighter_id] = stat_elo_update.copy()
    
    df_returned = pd.DataFrame.from_records(list_win_loss)
    return df_returned

        
df_c2 = gen_elo_c2(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40)

In [178]:
fighter_dict['217']['fighter_names']

['Jose Aldo']

In [147]:
name_dict['Jon Jones']

118

In [144]:
df_fight_data[df_fight_data['fight_id'] == 781]

,fight_name,fighter_0,fighter_1,winner,method,round_end,date,fight_id
781,Cheick Kongo v Dan Evensen 2008-08-09,1288,1610,0,KO/TKO,1,2008-08-09,781

In [177]:
df_c2[['sig str', 'head', 'body', 'leg', 'distance', 'clinch', 'ground']].corr()

           sig str      head      body       leg  distance    clinch    ground
sig str   1.000000  0.860417  0.886607  0.862603  0.863655  0.822378  0.767943
head      0.860417  1.000000  0.614618  0.550523  0.684595  0.672404  0.786267
body      0.886607  0.614618  1.000000  0.793036  0.774079  0.813670  0.624560
leg       0.862603  0.550523  0.793036  1.000000  0.835708  0.707697  0.550624
distance  0.863655  0.684595  0.774079  0.835708  1.000000  0.563043  0.385771
clinch    0.822378  0.672404  0.813670  0.707697  0.563043  1.000000  0.678148
ground    0.767943  0.786267  0.624560  0.550624  0.385771  0.678148  1.000000

In [175]:
df_c2.sort_values(by='sig str', ascending=False)
# df_c2[df_c2.fighter_id == '118'].sort_values(by='card_date', ascending=True)

,body,card_date,clinch,distance,fight_id,fighter,fighter_id,ground,head,leg,sig str,win_loss,winner
4280,107.944353,2013-07-06,101.624144,111.521190,2140,0,552,94.545458,105.349672,98.052396,315.586953,315.586953,1
8255,111.085013,2017-11-04,54.323331,132.526838,4127,1,789,108.038307,101.946152,104.688055,313.618166,313.618166,1
3788,105.163204,2012-10-13,96.970039,110.649001,1894,0,552,92.352720,101.896949,97.083282,308.288996,308.288996,0
10464,129.535883,2020-02-08,99.682172,123.914636,5232,0,118,75.641292,55.776088,140.100293,305.380549,305.380549,0
4584,104.645439,2013-11-16,49.887286,124.606252,2292,0,789,106.280552,99.755618,97.471105,299.342579,299.342579,0
3622,100.416923,2012-07-07,93.273813,109.462162,1811,0,552,86.696926,97.622907,95.723132,298.047527,298.047527,0
10042,98.672663,2019-08-17,113.130005,91.664167,5021,0,450,93.670229,108.368163,84.300242,293.942811,293.942811,1
9898,123.606012,2019-07-06,96.992166,116.550441,4949,0,118,73.829745,55.502071,131.650963,292.498910,292.498910,0
4068,101.700582,2013-03-16,48.018125,121.514177,2034,0,789,103.613765,97.108337,95.094597,291.571505,291.571505,0
10088,97.633074,2019-09-07,77.062757,103.090641,5044,0,421,96.699604,104.670044,83.115764,287.657126,287.657126,0
4667,93.591745,2013-12-28,86.056448,110.276353,2333,1,552,78.578434,87.387913,98.002614,286.682540,286.682540,0
3014,94.556678,2011-08-27,88.943465,104.990392,1507,0,552,82.473504,93.195533,92.887315,285.219282,285.219282,0
9530,118.691389,2019-03-02,92.278235,113.841277,4765,0,118,70.215596,54.606644,125.607848,282.081902,282.081902,0
9186,96.020976,2018-11-03,110.602499,90.712333,4593,0,450,85.054862,101.147038,81.900630,280.560554,280.560554,0
3828,97.048020,2012-11-17,46.363012,118.659497,1914,0,789,96.221912,91.712866,92.291839,278.672651,278.672651,0
2720,93.692913,2011-02-05,86.407967,101.905281,1360,0,552,79.818036,90.469528,88.181136,276.992577,276.992577,0
9138,93.018831,2018-10-06,74.638879,100.790346,4569,0,421,86.391975,95.880048,80.878263,271.043852,271.043852,0
9656,91.314868,2019-04-13,63.297840,151.822606,4828,0,212,38.766340,104.507988,72.898189,271.020402,271.020402,1
9382,113.287745,2018-12-29,88.864882,108.837015,4691,0,118,66.339648,52.844322,119.026906,269.638277,269.638277,0
2472,89.181593,2010-08-07,85.160442,98.719416,1236,0,552,74.658721,86.543312,86.341448,266.857142,266.857142,0
7594,114.097905,2017-01-28,38.628054,165.339456,3797,0,163,33.209211,50.171643,126.489703,266.137815,266.137815,1
2836,91.263970,2011-04-30,44.603107,110.495681,1418,0,789,94.828573,87.825062,88.488301,265.716031,265.716031,0
10368,89.250165,2019-12-14,56.438935,159.536919,5184,0,212,29.049786,109.898105,62.357017,265.256362,265.256362,1
8911,88.281201,2018-07-07,103.420845,81.810556,4455,1,450,82.551362,95.280104,76.835419,262.490631,262.490631,1
6732,81.598384,2016-02-27,74.845474,94.076138,3366,0,552,78.061758,84.777044,83.943929,260.631321,260.631321,1
6852,108.701046,2016-04-23,86.063126,103.551928,3426,0,118,63.305465,52.037451,111.852387,258.202849,258.202849,0
8664,91.330666,2018-04-07,72.965063,94.846970,4332,0,421,81.825403,88.370251,78.802583,258.175857,258.175857,0
6558,73.937614,2015-12-12,68.133557,108.952556,3279,0,217,71.682843,93.303487,87.701786,256.047633,256.047633,1
7502,111.828337,2016-12-10,37.077408,158.829035,3751,0,163,31.770232,45.480894,122.903299,255.355466,255.355466,0
2322,86.387215,2010-04-10,83.629526,91.004961,1161,0,552,73.235847,84.816906,78.653660,254.660495,254.660495,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,-20.043303,2016-11-05,-23.018814,-15.446789,3657,1,899,-25.263162,-27.156303,-13.706179,-62.347446,-62.347446,0
7268,-21.465168,2016-10-01,-22.149610,-22.085448,3634,0,905,-18.193361,-19.138916,-21.885268,-62.368935,-62.368935,1
2541,-21.380449,2010-10-16,-25.190572,-24.363997,1270,1,1498,-15.771314,-18.846780,-23.664051,-63.507794,-63.507794,0
5980,-11.139722,2015-05-16,-20.079883,-26.762898,2990,0,856,-16.020109,-34.923582,-14.144964,-63.965124,-63.965124,0
8290,-24.310030,2017-11-18,-23.508398,-18.633133,4145,0,644,-22.683638,-20.978371,-18.684560,-64.142399,-64.142399,1
8616,-18.769286,2018-03-03,-23.330715,-13.663132,4308,0,321,-28.453681,-31.123521,-11.521826,-64.439339,-64.439339,1
9290,-22.693801,2018-12-01,-22.871781,-19.913938,4645,0,631,-22.160144,-17.715295,-25.353825,-64.678576,-64.678576,1
7061,-27.041755,2016-07-13,-22.336949,-15.131096,3530,1,567,-27.904354,-14.187345,-28.510167,-64.994221,-64.994221,1
7621,-7.437871,2017-02-11,-15.109013,-27.852953,3810,1,856,-23.716921,-38.803781,-15.213723,-67.239842,-67.239842,0
9315,-44.171127,2018-12-08,-32.200704,-29.643351,4657,1,369,-13.300596,0.091167,-33.591124,-67.674856,-67.674856,1
8991,-23.594416,2018-08-04,-22.737842,-18.889886,4495,1,608,-27.560239,-22.771215,-22.536511,-69.302825,-69.302825,0
9288,-19.459843,2018-12-01,-38.403183,-1.590423,4644,0,632,-38.899480,-25.429316,-20.887704,-69.557759,-69.557759,1
8084,-33.785963,2017-09-02,-31.654355,-27.613117,4042,0,659,-13.335908,-10.615439,-30.609053,-69.564749,-69.564749,0
8558,-30.616647,2018-02-18,-9.327709,2.633898,4279,0,752,-60.743238,-43.985238,7.254811,-69.647577,-69.647577,1
6425,-18.827866,2015-11-14,-28.347452,-17.261297,3212,1,1016,-28.318494,-29.612003,-18.594945,-70.957103,-70.957103,0
10001,-20.146242,2019-08-10,-27.896052,-18.065844,5000,1,117,-27.557401,-25.268643,-24.511527,-71.125301,-71.125301,0
8318,-8.963105,2017-11-25,-14.463022,-15.912762,4159,0,779,-36.960453,-31.275536,-29.032233,-71.315982,-71.315982,1
6203,-11.935884,2015-07-18,-20.962238,-24.232646,3101,1,1054,-27.433803,-33.210872,-23.507983,-72.077497,-72.077497,0
5020,-25.500683,2014-05-31,-25.423809,-13.922363,2510,0,744,-34.520173,-36.437711,-11.623154,-72.303189,-72.303189,0
6336,-26.880434,2015-09-26,-33.739816,-34.166995,3168,0,1036,-8.045935,-15.740469,-32.865690,-72.326913,-72.326913,1
1601,-29.383831,2008-09-17,-22.985143,-22.283336,800,1,1544,-27.138255,-19.608208,-26.165224,-73.399735,-73.399735,0
6340,-23.509073,2015-09-26,-24.479865,-19.580523,3170,0,567,-30.774989,-26.150913,-25.567186,-74.278210,-74.278210,0
7270,-28.428081,2016-10-01,-27.580696,-29.028036,3635,0,904,-22.239313,-22.284982,-29.388377,-78.796059,-78.796059,1
8822,-24.319033,2018-06-09,-23.536051,-27.579712,4411,0,644,-31.351004,-31.487660,-25.590448,-80.491451,-80.491451,1
9198,-20.933260,2018-11-10,-26.101892,-17.440894,4599,0,321,-37.096732,-38.559543,-17.125315,-80.771870,-80.771870,0
1884,-33.981788,2009-05-23,-25.302013,-26.348158,942,0,1544,-29.584821,-20.475246,-30.871220,-82.548880,-82.548880,0
9436,-29.119550,2019-02-09,-27.573488,-23.118603,4718,0,608,-33.801171,-29.614355,-24.947381,-84.857909,-84.857909,1
10467,-28.239984,2020-02-15,-33.135735,-19.798167,5233,1,117,-34.789545,-28.094664,-27.369103,-84.877810,-84.877810,1
5890,-27.464237,2015-04-11,-36.618757,-27.215107,2945,0,1054,-34.283512,-37.851373,-27.436357,-96.406234,-96.406234,0
9247,-32.313926,2018-11-24,-25.303730,-33.172935,4623,1,644,-41.283998,-33.558336,-35.859515,-99.281225,-99.281225,1

In [143]:
df_c2[df_c2.fighter_id == '1610'].sort_values(by='card_date', ascending=True)

,body,card_date,clinch,distance,fight_id,fighter,fighter_id,ground,head,leg,sig str,win_loss,winner
1563,0.000000,2008-08-09,0.000000,0.000000,781,1,1610,0.000000,0.000000,0.000000,0.000000,0.000000,0
1715,127.865821,2008-12-27,125.017068,129.888957,857,1,1610,122.495808,134.691537,114.960536,377.908124,377.908124,0

In [7]:
def gen_elo_c1(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40):
    

    stat_types = ('sig str') + ranges + locations
    current_elo_values = {f_id: 
                             {elo_type: 0 
                                for elo_type in stat_types + ['win_loss']}
                                    for f_id in fighter_dict.keys()}

    list_win_loss = []
    set_fighters_observed = set()

    # sort fights by date
    df_fights = df_fight_data \
        .sort_values(by='fight_id', ascending=True) \
        .set_index('fight_id')
    
    # Filter to remove round-by-round stat data
    df_stats = df_stat_data[(df_stat_data.Round == 0) &
            df_stat_data.Stat.isin(stat_types)]\
        [['Fighter', 'Landed', 'Stat', 'Seconds', 'fight_id']] \
        .rename(columns={'Fighter': 'fighter'})\
        .set_index('fight_id')

    ranges = ('distance', 'clinch', 'ground')
    locations = ('head', 'body', 'leg')

    range_vals = {r: {'mean': -1, 'sd': -1, 'cnt': 0} for r in ranges}
    loc_vals = {l: {'mean': -1, 'sd': -1, 'cnt': 0} for l in locations}

    set_fighters_observed = set()
    
    #iterate through fight_ids
    for fight_id in df_fights.index:
        
        #
        fight_stats = df_stats.loc[fight_id]
        
        # dictionary containing data about the fight
        fight_entry = dict(df_fight_data.loc[fight_id])

        # get fighter ids
        fighter_0_id = str(fight_entry['fighter_0'])
        fighter_1_id = str(fight_entry['fighter_1'])

        # determine dictionaries to be appended to returned

        to_append_0 = {'fighter_id': fighter_0_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter' : 0,
             'winner': fight_entry['winner']}

        to_append_0.update({current_elo_values[fighter_0_id][stat_type]
            for stat_type in stat_types})

        to_append_1 = {'fighter_id': fighter_1_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter' : 1,
             'winner': fight_entry['winner']}

        to_append_1.update({current_elo_values[fighter_1_id][stat_type]
            for stat_type in stat_types})

        # append to returned
        list_win_loss.append(to_append_0)
        list_win_loss.append(to_append_1)
        
        # Now we focus on updating elo values appropriately

        fighter_0_wl_elo = current_elo_values[fighter_0_id]['win_loss']
        fighter_1_wl_elo = current_elo_values[fighter_1_id]['win_loss']

        fighter_0_ss_elo = current_elo_values[fighter_0_id]['sig str']
        fighter_1_ss_elo = current_elo_values[fighter_1_id]['sig str']

        fighter_0_ss_inc, fighter_1_ss_inc = \
            gen_fighter_elo_increments(fighter_0_ss_elo, fighter_1_ss_elo,
                 fight_entry['winner'])
                  
        # take the increment from sig str elos, and divide it based on r_data
        #  get the stat values from df_stats

        def get_stat_landed(stat_name):
            return list(fight_stats[(fight_stats.Fighter ==  0) &
            (fight_stats.Stat == stat_name)])[0]

        range_landed = {r: get_stat_landed(r) for r in ranges}
        sum_landed = sum(list(range_landed.values()))
        range_landed_perc = {r: val/sum_landed for r, val in range_landed.items()}
        range_standardized = {}

        for stat_name, perc_landed in range_landed_perc.items():
            new_stat_entry = gen_new_mean_sd(range_vals[stat_name], perc_landed)
            range_vals[stat_name] = new_stat_entry
            range_standardized[stat_name] = (perc_landed - new_stat_entry['mean']) / \
                new_stat_entry['sd']

In [90]:
('hello',) + ('hi',)

('hello', 'hi')

In [47]:
df_fight_data.head()

,fight_name,fighter_0,fighter_1,winner,method,round_end,date,fight_id
0,Tulio Palhares v Adriano Santos 1998-10-16,1899,1900,0,KO/TKO,1,1998-10-16,0
1,Ebenezer Fontes Braga v Jeremy Horn 1998-10-16,1898,1601,0,Submission,1,1998-10-16,1
2,Tsuyoshi Kohsaka v Pete Williams 1998-10-16,1813,1819,0,Decision,2,1998-10-16,2
3,Pat Miletich v Mikey Burnett 1998-10-16,1818,1893,0,Decision,3,1998-10-16,3
4,Pedro Rizzo v David Abbott 1998-10-16,1785,1784,0,KO/TKO,1,1998-10-16,4

In [45]:
np.array(list({'a': 1, 'b': 2}.values())).mean()

1.5

In [9]:
def gen_elo_b1(df_fight_data, df_stat_data, fighter_dict, name_dict, divby=400, k_val=40):
    
#     First we create a dictionary to store the current values of the elos
#     its current structure is as follows:

#         {fighter_id: 
#             {elo_type: elo_value} (contains all zeroes to begin)
#         }

    # list of different stat types
    stat_types = list(df_stat_data.Stat.unique())

    current_elo_values = {f_id: 
                             {elo_type: 0 
                                for elo_type in stat_types + ['win_loss']}
                                    for f_id in fighter_dict.keys()}
    
#     Next we create a dataframe containing only only the win_loss_elo data
#     It has the same structure as the example df except for it doesn't have the elotype column,
#     and the elo value column is replaced with the column name of the stat type.
    
    # empty list to begin
    list_win_loss = []
    
    set_fighters_observed = set()
    
    # sort fights by date
    df_fights = df_fight_data \
        .sort_values(by='fight_id', ascending=True) \
        .set_index('fight_id')
    
    # Filter to remove round-by-round stat data
    df_stats = df_stat_data[df_stat_data.Round == 0][['Fighter', 'Landed', 'Stat', 'fight_id']] \
        .rename(columns={'Fighter': 'fighter'})\
        .set_index('fight_id')
    
    #iterate through fight_ids
    for fight_id in df_fights.index:
        
        #
        fight_stats = df_stats.loc[fight_id]
        
        # dictionary containing data about the fight
        fight_entry = dict(df_fight_data.loc[fight_id])
        
        # get fighter ids
        fighter_0_id = str(fight_entry['fighter_0'])
        fighter_1_id = str(fight_entry['fighter_1'])

        # get current fighter wl elos
        fighter_0_wl_elo = current_elo_values[fighter_0_id]['win_loss']
        fighter_1_wl_elo = current_elo_values[fighter_1_id]['win_loss']
        
        fighter_0_observed = fighter_0_id in set_fighters_observed
        fighter_1_observed = fighter_1_id in set_fighters_observed
        
        set_fighters_observed.add(fighter_0_id)
        set_fighters_observed.add(fighter_1_id)
        
        if (not fighter_0_observed) and fighter_1_observed:
            fighter_0_wl_elo = fighter_1_wl_elo
            
        if fighter_0_observed and (not fighter_1_observed):
            fighter_1_wl_elo = fighter_0_wl_elo
        
        # get new win_loss elo values
        fighter_0_wl_inc, fighter_1_wl_inc = \
            gen_fighter_elo_increments(fighter_0_wl_elo, fighter_1_wl_elo, fight_entry['winner'])
        
        fighter_0_wl_elo_new = fighter_0_wl_inc + fighter_0_wl_elo
        fighter_1_wl_elo_new = fighter_1_wl_inc + fighter_1_wl_elo
        
        # get dictionary of other new elo values
        dict_elos_0, dict_elos_1 = {'old': {}, 'new': {}}, {'old': {}, 'new': {}}
        for stat_type in stat_types:
            
            fighter_0_stat_elo = current_elo_values[fighter_0_id][stat_type]
            fighter_1_stat_elo = current_elo_values[fighter_1_id][stat_type]
            
            dict_elos_0['old'][stat_type] = fighter_0_stat_elo
            dict_elos_1['old'][stat_type] = fighter_1_stat_elo  
            
            relevant_stats = fight_stats[(fight_stats['Stat'] == stat_type)]
            fighter_0_landed = list(relevant_stats[relevant_stats['fighter'] == 0]['Landed'])[0]
            fighter_1_landed = list(relevant_stats[relevant_stats['fighter'] == 1]['Landed'])[0]
            
            if ((fight_entry['winner'] == 0) and (fighter_0_landed > fighter_1_landed)) or \
                ((fight_entry['winner'] == 1) and (fighter_0_landed < fighter_1_landed)):
                
                fighter_0_stat_elo = fighter_0_stat_elo + fighter_0_wl_inc
                fighter_1_stat_elo = fighter_1_stat_elo + fighter_1_wl_inc

                
            dict_elos_0['new'][stat_type] = fighter_0_stat_elo
            dict_elos_1['new'][stat_type] = fighter_1_stat_elo     
        
        to_append_0 = {'fighter_id': fighter_0_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter' : 0,
             'winner': fight_entry['winner'],
             'win_loss': current_elo_values[fighter_0_id]['win_loss']}
        
        to_append_0.update(dict_elos_0['old'])
        
        to_append_1 = {'fighter_id': fighter_1_id,
             'card_date': fight_entry['date'],
             'fight_id': fight_entry['fight_id'], 
             'fighter': 1,
             'winner': fight_entry['winner'],
             'win_loss': current_elo_values[fighter_1_id]['win_loss']}
    
        to_append_1.update(dict_elos_1['old'])
    
        # append relevant data to future dataframe
        list_win_loss.append(to_append_0)
        list_win_loss.append(to_append_1)
        
        # update current_elo_values
        current_elo_values[fighter_0_id]['win_loss'] = fighter_0_wl_elo_new
        current_elo_values[fighter_1_id]['win_loss'] = fighter_1_wl_elo_new
        
        for stat_type in stat_types:
            current_elo_values[fighter_0_id][stat_type] = dict_elos_0['new'][stat_type]
            current_elo_values[fighter_1_id][stat_type] = dict_elos_1['new'][stat_type]
                       
    
    # create a dataframe from list of dictionaries list_win_loss
    # this dataframe will be eventually returned
    df_returned = pd.DataFrame.from_records(list_win_loss)
    return df_returned

In [10]:
# Must fix: assign elo to be the elo of their first fighter

In [11]:
df_elo1 = gen_elo_b1(df_fight_data, df_stat_data, fighter_dict, name_dict)
df_elo1.head()

,body,card_date,clinch,distance,fight_id,fighter,fighter_id,ground,head,kd,leg,pass,rev,sig str,sub att,td,total str,win_loss,winner
0,0.0,1998-10-16,0.0,0.0,0,0,1899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,1998-10-16,0.0,0.0,0,1,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,1998-10-16,0.0,0.0,1,0,1898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,1998-10-16,0.0,0.0,1,1,1601,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,1998-10-16,0.0,0.0,2,0,1813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [12]:
name_dict['Max Holloway']

212

In [13]:
df_elo1.sort_values(by='head', ascending=False).head()

,body,card_date,clinch,distance,fight_id,fighter,fighter_id,ground,head,kd,leg,pass,rev,sig str,sub att,td,total str,win_loss,winner
8255,196.439569,2017-11-04,121.885807,294.846470,4127,1,789,266.093323,280.678131,51.404855,197.199465,177.117709,31.257850,294.846470,127.096464,284.175805,254.903956,318.037107,1
4584,182.271230,2013-11-16,121.885807,280.678131,2292,0,789,266.093323,280.678131,51.404855,183.031127,177.117709,31.257850,280.678131,112.928126,270.007467,254.903956,303.868769,0
8254,94.204320,2017-11-04,77.515330,299.020784,4127,0,776,61.457907,273.444432,-6.782807,132.563652,-31.655430,36.372945,199.843124,-11.803378,40.018165,199.843124,201.380945,1
4068,174.592811,2013-03-16,121.885807,272.999712,2034,0,789,258.414904,272.999712,51.404855,175.352708,169.439290,31.257850,272.999712,112.928126,262.329048,247.225537,296.190350,0
10464,274.497652,2020-02-08,201.938141,269.642710,5232,0,118,259.126662,270.430420,73.813442,248.297268,157.263324,0.000000,325.043246,92.943136,276.773976,289.126986,306.394717,0

In [14]:
df_fight_data.head()

,fight_name,fighter_0,fighter_1,winner,method,round_end,date,fight_id
0,Tulio Palhares v Adriano Santos 1998-10-16,1899,1900,0,KO/TKO,1,1998-10-16,0
1,Ebenezer Fontes Braga v Jeremy Horn 1998-10-16,1898,1601,0,Submission,1,1998-10-16,1
2,Tsuyoshi Kohsaka v Pete Williams 1998-10-16,1813,1819,0,Decision,2,1998-10-16,2
3,Pat Miletich v Mikey Burnett 1998-10-16,1818,1893,0,Decision,3,1998-10-16,3
4,Pedro Rizzo v David Abbott 1998-10-16,1785,1784,0,KO/TKO,1,1998-10-16,4

In [15]:
df_fight_data.columns

Index(['fight_name', 'fighter_0', 'fighter_1', 'winner', 'method', 'round_end',
       'date', 'fight_id'],
      dtype='object')

In [41]:
df_fight_data.head().loc[0]['fighter_0']

1899

In [42]:
df_elo1.head().loc[0]['fighter_id']

'1899'

In [36]:
df_elo1[df_elo1.fighter == 1].head()

,body,card_date,clinch,distance,fight_id,fighter,fighter_id,ground,head,kd,leg,pass,rev,sig str,sub att,td,total str,win_loss,winner
1,0.0,1998-10-16,0.0,0.0,0,1,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,1998-10-16,0.0,0.0,1,1,1601,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,0.0,1998-10-16,0.0,0.0,2,1,1819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,0.0,1998-10-16,0.0,0.0,3,1,1893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,0.0,1998-10-16,0.0,0.0,4,1,1784,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [180]:
def run_model(df_elo, df_fight_data, columns, divby=400, random_state=0):

    df_elo = df_elo.copy()
    df_elo = df_elo[['fight_id', 'fighter', 'fighter_id', 'win_loss'] + columns]
    df_fight_data = df_fight_data.copy()
    df_fight_data['fighter_0'] = df_fight_data['fighter_0'].astype(str)
    df_fight_data['fighter_1'] = df_fight_data['fighter_1'].astype(str)
    
    df_fight_data = df_fight_data[['fighter_0', 'fighter_1', 'fight_id', 'winner']]

    df_elo_f0 = df_elo[df_elo['fighter'] == 0]\
        .drop(columns=['fighter'])\
        .rename(columns={'fighter_id': 'fighter_0'})

    df_elo_f1 = df_elo[df_elo['fighter'] == 1]\
        .drop(columns=['fighter'])\
        .rename(columns={'fighter_id': 'fighter_1'})
    
    df_fight_data = df_fight_data.merge(df_elo_f0, on=['fight_id', 'fighter_0'], how='inner')
    df_fight_data.rename(columns={c: c + '_0' for c in columns + ['win_loss']},
        inplace=True)
    
    df_fight_data = df_fight_data.merge(df_elo_f1, on=['fight_id', 'fighter_1'], how='inner')
    df_fight_data.rename(columns={c: c + '_1' for c in columns + ['win_loss']},
        inplace=True)
        
    for col in columns + ['win_loss']:
        df_fight_data[col] = df_fight_data[col + '_1'] - df_fight_data[col + '_0']
        df_fight_data[col] = df_fight_data[col].apply(lambda x: \
            1.0 / (1 + 1.0 * math.pow(10, x / divby)))
        df_fight_data.drop(columns = [col + '_0', col + '_1'], inplace=True)

    df_fight_data = df_fight_data[columns + ['win_loss', 'winner']]

    for i in df_fight_data.index:
        if random.randint(0, 1) == 0:
            df_fight_data.loc[i] = [1-x for x in df_fight_data.loc[i]]

    x = df_fight_data[filter(lambda x: x != 'winner', df_fight_data.columns)]
    y = df_fight_data[['winner']]
    x_train, x_test, y_train, y_test =\
         train_test_split(x, y, test_size=0.25, random_state=random_state)
    model = LogisticRegression().fit(x_train, y_train)
    print(model.score(x_test, y_test))
    return model, df_fight_data

moda, testa = run_model(df_c2, df_fight_data, ['head', 'body', 'leg', 'distance', 'clinch', 'ground'])

0.5744520030234316

C:\Users\augus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\augus\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [86]:
mod, test = run_model(df_elo1, df_fight_data, ['sig str'])

0.581254724111867

C:\Users\augus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\augus\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [181]:
{testa.columns[i]: moda.coef_[0][i] for i in range(len(testa.columns) - 1)}

{'head': 0.09358926429035991,
 'body': -0.26853299952304466,
 'leg': -0.7724240092447986,
 'distance': -0.16628331808916783,
 'clinch': 0.11988132459690594,
 'ground': -0.6172972102264404,
 'win_loss': -2.1698236096115777}

In [78]:
moda.coef_[0][1]

-1.2559663209889567

In [18]:
df_fight_data[df_fight_data.date > datetime(2020, 1, 1)]

,fight_name,fighter_0,fighter_1,winner,method,round_end,date,fight_id
5199,Sabina Mazo v JJ Aldrich 2020-01-18,182,183,0,Decision,3,2020-01-18,5199
5200,Aleksa Camur v Justin Ledet 2020-01-18,180,181,0,Decision,3,2020-01-18,5200
5201,Drew Dober v Nasrat Haqparast 2020-01-18,178,179,0,KO/TKO,1,2020-01-18,5201
5202,Tim Elliott v Askar Askarov 2020-01-18,176,177,1,Decision,3,2020-01-18,5202
5203,Andre Fili v Sodiq Yusuff 2020-01-18,174,175,1,Decision,3,2020-01-18,5203
5204,Roxanne Modafferi v Maycee Barber 2020-01-18,172,173,0,Decision,3,2020-01-18,5204
5205,Anthony Pettis v Diego Ferreira 2020-01-18,170,171,1,Submission,2,2020-01-18,5205
5206,Brian Kelleher v Ode Osbourne 2020-01-18,168,169,0,Submission,1,2020-01-18,5206
5207,Aleksei Oleinik v Maurice Greene 2020-01-18,166,167,0,Submission,2,2020-01-18,5207
5208,Holly Holm v Raquel Pennington 2020-01-18,164,165,0,Decision,3,2020-01-18,5208
5209,Conor McGregor v Donald Cerrone 2020-01-18,162,163,0,KO/TKO,1,2020-01-18,5209
5210,Herbert Burns v Nate Landwehr 2020-01-25,160,161,0,KO/TKO,1,2020-01-25,5210
5211,Brett Johns v Tony Gravely 2020-01-25,158,159,0,Submission,3,2020-01-25,5211
5212,Sara McMann v Lina Lansberg 2020-01-25,156,157,0,Decision,3,2020-01-25,5212
5213,Montel Jackson v Felipe Colares 2020-01-25,154,155,0,Decision,3,2020-01-25,5213
5214,Justine Kish v Lucie Pudilova 2020-01-25,152,153,0,Decision,3,2020-01-25,5214
5215,Arnold Allen v Nik Lentz 2020-01-25,150,151,0,Decision,3,2020-01-25,5215
5216,Bevon Lewis v Dequan Townsend 2020-01-25,149,111,0,Decision,3,2020-01-25,5216
5217,Jamahal Hill v Darko Stosic 2020-01-25,147,148,0,Decision,3,2020-01-25,5217
5218,Hannah Cifers v Angela Hill 2020-01-25,146,89,1,KO/TKO,2,2020-01-25,5218
5219,Jordan Espinosa v Alex Perez 2020-01-25,144,145,1,Submission,1,2020-01-25,5219
5220,Rafael Dos Anjos v Michael Chiesa 2020-01-25,142,143,1,Decision,3,2020-01-25,5220
5221,Curtis Blaydes v Junior Dos Santos 2020-01-25,140,141,0,KO/TKO,2,2020-01-25,5221
5222,Austin Lingo v Youssef Zalal 2020-02-08,138,139,1,Decision,3,2020-02-08,5222
5223,Andre Ewell v Jonathan Martinez 2020-02-08,136,137,0,Decision,3,2020-02-08,5223
5224,Miles Johns v Mario Bautista 2020-02-08,134,135,1,KO/TKO,2,2020-02-08,5224
5225,Alex Morono v Khaos Williams 2020-02-08,132,133,1,KO/TKO,1,2020-02-08,5225
5226,Lauren Murphy v Andrea Lee 2020-02-08,130,131,0,Decision,3,2020-02-08,5226
5227,Trevin Giles v James Krause 2020-02-08,128,129,0,Decision,3,2020-02-08,5227
5228,Derrick Lewis v Ilir Latifi 2020-02-08,126,127,0,Decision,3,2020-02-08,5228
...,...,...,...,...,...,...,...,...
5262,Marcin Tybura v Serghei Spivac 2020-02-29,58,59,0,Decision,3,2020-02-29,5262
5263,Brendan Allen v Tom Breese 2020-02-29,56,57,0,KO/TKO,1,2020-02-29,5263
5264,Gabriel Silva v Kyler Phillips 2020-02-29,54,55,1,Decision,3,2020-02-29,5264
5265,Grant Dawson v Darrick Minner 2020-02-29,52,53,0,Submission,2,2020-02-29,5265
5266,Megan Anderson v Norma Dumont 2020-02-29,50,51,0,KO/TKO,1,2020-02-29,5266
5267,Ion Cutelaba v Magomed Ankalaev 2020-02-29,48,49,1,KO/TKO,1,2020-02-29,5267
5268,Felicia Spencer v Zarah Fairn 2020-02-29,46,47,0,KO/TKO,1,2020-02-29,5268
5269,Joseph Benavidez v Deiveson Figueiredo 2020-02-29,44,45,1,KO/TKO,2,2020-02-29,5269
5270,Danaa Batgerel v Guido Cannetti 2020-03-07,42,43,0,KO/TKO,1,2020-03-07,5270
5271,Giga Chikadze v Jamall Emmers 2020-03-07,40,41,0,Decision,3,2020-03-07,5271
5272,Gerald Meerschaert v Deron Winn 2020-03-07,38,39,0,Submission,3,2020-03-07,5272
5273,Rodolfo Vieira v Saparbeg Safarov 2020-03-07,36,37,0,Submission,1,2020-03-07,5273
5274,Mark Madsen v Austin Hubbard 2020-03-07,34,35,0,Decision,3,2020-03-07,5274
5275,Sean O'Malley v Jose Quinonez 2020-03-07,32,33,0,KO/TKO,1,2020-03-07,5275
5276,Alex Oliveira v Max Griffin 2020-03-07,30,31,0,Decision,3,2020-03-07,5276
5277,Neil Magny v Jingliang Li 2020-03-07,28,29,0,Decision,3,2020-03-07,5277
5278,Beneil Dariush v Drakkar Klose 2020-03-07,26,27,0,KO/TKO,2,2020-03-07,5278
5279,Weili Zhang v Joanna Jedrzejczyk 2020-03-07,24,25,0,Decision,5,2020-03-07,5279
5280,Israel Adesanya v Yoel Romero 2020-03-07,22,23,0,Decision,5,2020-03-07,5280
5281,Veronica Macedo v Bea Malecki 2020-03-14,20,21,1,Decision,3,2020-03-14,5281
5282,Bruno Silva v David Dvorak 2020-03-14,18,19,1,Decision,3,2020-03-14,5282
5283,Mayra Bueno Silva v Maryna Moroz 2020-03-14,16,17,1,Decision,3,2020-03-14,5283
5284,Elizeu Zaleski dos Santos v Aleksei Kunchenko ...,14,15,0,Decision,3,2020-03-14,5284
5285,Amanda Ribas v Randa Markos 2020-03-14,12,13,0,Decision,3,2020-03-14,5285
5286,Jussier Formiga v Brandon Moreno 2020-03-14,10,11,1,Decision,3,2020-03-14,5286
5287,Francisco Trinaldo v John Makdessi 2020-03-14,8,9,0,Decision,3,2020-03-14,5287
5288,Johnny Walker v Nikita Krylov 2020-03-14,6,7,1,Decision,3,2020-03-14,5288
5289,Renato Moicano v Damir Hadzovic 2020-03-14,4,5,0,Submission,1,2020-03-14,5289
5290,Demian Maia v Gilbert Burns 2020-03-14,2,3,1,KO/TKO,1,2020-03-14,5290
5291,Kevin Lee v Charles Oliveira 2020-03-14,0,1,1,Submission,3,2020-03-14,5291

In [57]:
testa

NameError: name 'testa' is not defined

In [16]:
stat_types = list(df_stat_data.Stat.unique())

In [ ]:

    
def gen_relevant(self, names):
        returned = {}
        v2 = self.stat_data[(self.stat_data.Stat.isin(names)) &
                           (self.stat_data.Round == 0)]
        f1_stats = v2[v2.Fighter == 0]
        f2_stats = v2[v2.Fighter == 1]
        
        for fight in self.fight_data.index:
            returned[fight] = {'fighter_0': self.fight_data['fighter_0'][fight],
                               'fighter_1': self.fight_data['fighter_1'][fight],
                               'winner': self.fight_data['winner'][fight],
                               'date': self.fight_data['date'][fight],
                               'landed_0': {name: f1_stats[f1_stats.Stat==name]['Landed'][fight] for name in names},
                               'landed_1': {name: f2_stats[f2_stats.Stat==name]['Landed'][fight] for name in names}}
        return returned

In [5]:
df_fight_data.head()

,fight_name,fighter_0,fighter_1,winner,method,round_end,date,fight_id
0,Tulio Palhares v Adriano Santos 1998-10-16,1899,1900,0,KO/TKO,1,1998-10-16,0
1,Ebenezer Fontes Braga v Jeremy Horn 1998-10-16,1898,1601,0,Submission,1,1998-10-16,1
2,Tsuyoshi Kohsaka v Pete Williams 1998-10-16,1813,1819,0,Decision,2,1998-10-16,2
3,Pat Miletich v Mikey Burnett 1998-10-16,1818,1893,0,Decision,3,1998-10-16,3
4,Pedro Rizzo v David Abbott 1998-10-16,1785,1784,0,KO/TKO,1,1998-10-16,4